  .card {
     width: 350px;
     background-color: #fff;
     border: 1px solid rgba(0, 0, 0, .2);
     border-radius: 4px;
     box-shadow: 5px 5px 30px rgba(0, 0, 0, .1);
     position: relative;
     &-img {
        width: 100%;
     }

     &-body {
        padding: 0px;
        &-content {
           margin: -35px auto 0 auto;
           width: 90%;
           position: relative;   
           background-color: #fff;
           z-index: 100;
           padding: 15px;
        }
     }

     &-title {
        font-size: 19px;
        margin-bottom: 10px;
     }

     &-text {
        margin-bottom: 15px;
        font-size: 16px;
     }

     a {
        text-decoration: none;
     }
  }